.ProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card {
    box-shadow: 1px 1px 10px lightgray;
    padding: 10px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}